*{
    font-family: 'Lato'
}

.round-btn{
    background-color: #121212;
    color: white;
    border: none;
}

.round-btn:hover{
    border: 1px solid white;
    background-color: gray;
}

/* meet the team section */
/* .team-meat-section{
    background-image: url(images/banner1.png);
    background-repeat: no-repeat;
    width: auto;
    height: auto;
} */

/* .footer-logo{
        place-items: left;
        padding-left: 0;
        margin-left: 0;
} */



@media screen and (max-width: 640px){
.nav-menus{
    display: none;
}
.search-box{
    display: none;
}
.deal-box{
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}


}



@media screen and (max-width: 1920px) and (min-width: 641px){
    .dropdown{
        display: none;
    }
    
    }